<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXDBlurNavController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFE4301C1BE1D67900BD66A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE430351BE1D67A00BD66A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE430401BE1D67A00BD66A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
